header
	span Web.log()

section(id='ondway')
	p(id='wait') On It's Way...
	p(id='follow') Follow the development at
		a(href='https://github.com/rishy/blogthingy' target='_blank')
			img(src='images/giticon.png')
