/* line 367 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

/* line 2 : /home/rish/www/projects/blogthingy/angular/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

@font-face {
  src: url("../fonts/UbuntuTitling-Bold.ttf");
  font-family: 'ubuntu-bold';
}

/* line 5 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

@font-face {
  src: url("../fonts/Ubuntu-L.ttf");
  font-family: 'ubuntu';
}

/* line 9 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

/* line 14 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

a:hover {
  text-decoration: none;
  color: #004152 !important;
}

/* line 18 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

a {
  color: #333;
}

/* line 21 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

.links {
  border-bottom: 1px dashed #004152;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

/* line 26 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

.links:hover {
  border-bottom: 0px dashed #004152;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

/* line 31 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

body {
  font-family: 'ubuntu-bold' !important;
}

/* line 34 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

/*--------------------Stream Page-------------------*/

/* line 36 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

#mainHead {
  font-size: 100px;
  background-color: #f3f3f3;
  padding: 5% 0%;
  text-align: center;
  color: #929292;
  text-shadow: -2px 0px 0px #808080;
}

/* line 44 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

#wrapper {
  margin-left: 275px;
  margin-right: 50px;
  padding: 20px;
}

/* line 49 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

#wrapper .entry {
  width: 100%;
  font-family: 'ubuntu';
}

/* line 53 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

#wrapper .entry header {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

/* line 58 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

#wrapper .entry header h2 {
  float: left;
  font-family: 'ubuntu';
  color: #575757;
}

/* line 63 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

#wrapper .entry header p {
  float: right;
  margin-top: 25px;
  font-size: 18px;
}

/* line 68 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

#wrapper .entry div {
  padding: 10px;
  font-size: 18px;
}

/* line 72 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

/*------------------Stream page ENDS----------------*/

/* line 74 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

/*--------sidebar styles-----------*/

/* line 76 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

#sidebar {
  position: absolute;
  margin-top: 40px;
  padding: 20px;
  margin-left: 10px;
  text-align: center;
}

/* line 83 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

#sidebar,
#name {
  font-size: 17px;
}

/* line 86 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

#name {
  border-radius: 100%;
  color: #7a7979;
  margin: 5px auto;
}

/* line 91 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

#name p {
  font-family: 'Ubuntu';
  font-size: 25px;
}

/* line 95 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

#name img {
  height: 100%;
  width: 100%;
}

/* line 99 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

#fries {
  font-size: 15px;
  color: #747474;
}

/* line 103 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

#sidebar nav li:hover {
  color: #004152 !important;
}

/* line 106 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

.networks li {
  display: inline;
}

/* line 109 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

#sidebar .networks {
  margin-top: 10px;
  float: none;
}

/* line 113 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

#sidebar .networks li {
  margin-left: 0;
}

/* line 116 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

.fixedMenu {
  position: fixed !important;
  top: 0px;
}

/* line 120 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

/*----------SIDEBAR STYLES END-------------*/

/* line 122 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

#ondway {
  text-align: center;
  font-size: 40px;
  line-height: 2;
  padding-top: 20px;
}

/* line 128 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

#wait {
  position: relative;
  color: #636262;
}

/* line 132 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

#follow {
  display: inline;
}

/* line 135 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

#ondway div {
  color: #333;
  font-size: 35px;
}

/* line 139 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

#follow img {
  width: 50px;
  margin-left: 10px;
}

/* line 143 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

/*------------------------------------Profile Page-----------------------------------*/

/* line 145 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

#profileWrapper {
  padding: 10px 10px;
}

/* line 148 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

#profileWrapper header {
  border-bottom: 1px solid #ddd;
  padding: 20px 0px;
  width: 100%;
  display: inline-block;
}

/* line 154 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

#pic {
  height: 150px;
  width: 150px;
  border-radius: 5px;
  background-color: #777;
  float: left;
}

/* line 161 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

#pic img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

/* line 166 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

#intro {
  float: left;
  margin-left: 50px;
}

/* line 171 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

#intro p:first-child {
  font-size: 60px;
  margin: 0;
}

/* line 175 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

#intro p:last-child {
  font-size: 22px;
  color: #777;
  font-family: 'ubuntu';
}

/* line 180 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

.networks {
  float: right;
  margin-top: 120px;
}

/* line 184 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

.networks li {
  margin-left: 10px;
}

/* line 187 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

#details {
  font-size: 18px;
  padding: 20px 30px 20px 30px;
  font-family: ubuntu;
  text-align: justify;
  position: relative;
}

/* line 194 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

/*---------------------------Profile page ENDS---------------------*/

/* line 196 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

/*---------------------------Media Queries-------------------------*/

/* line 198 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

@media (max-width: 1024px) and (min-width: 768px) {
  /* line 200 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

  #mainHead {
    font-size: 80px;
    padding: 20px;
  }

  /* line 204 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

  #profileWrapper {
    padding: 8px 8px;
  }

  /* line 207 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

  #profileWrapper header {
    padding: 15px 0px;
  }

  /* line 210 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

  #pic {
    height: 125px;
    width: 125px;
    border-radius: 4px;
  }

  /* line 215 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

  #pic img {
    border-radius: 4px;
  }

  /* line 218 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

  #intro {
    margin-left: 20px;
    line-height: 1.5;
  }

  /* line 222 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

  #intro p:first-child {
    font-size: 42px;
  }

  /* line 225 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

  #intro p:last-child {
    font-size: 15px;
  }

  /* line 228 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

  .networks {
    margin-top: 100px;
  }

  /* line 231 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

  .networks li {
    margin-left: 3px;
  }

  /* line 234 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

  .networks li img {
    height: 28px;
    width: 28px;
  }

  /* line 238 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

  #details {
    font-size: 16px;
    padding: 10px 20px;
  }

  /* line 242 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

  #sidebar {
    position: absolute;
    margin-top: 30px;
    padding: 15px;
    font-size: 14px;
  }

  /* line 248 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

  #name {
    padding-top: 8px;
    font-size: 10px;
  }

  /* line 252 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

  #fries {
    font-size: 13px;
  }

  /* line 255 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

  #wrapper {
    margin-left: 225px;
    margin-right: 20px;
  }

  /* line 259 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

  #wrapper .entry header h2 {
    font-size: 175%;
  }

  /* line 262 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

  #wrapper .entry header p {
    margin-top: 23px;
    font-size: 16px;
  }

  /* line 266 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

  #wrapper .entry div {
    font-size: 16px;
  }
}

/* line 269 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

@media (max-width: 768px) {
  /* line 271 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

  #mainHead {
    display: none;
  }

  /* line 274 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

  #sidebar {
    position: relative !important;
    margin-top: 0;
    margin-left: 0;
  }

  /* line 279 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

  #ondway {
    font-size: 25px;
  }

  /* line 282 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

  #profileWrapper {
    padding: 5px 5px;
  }

  /* line 285 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

  #profileWrapper header {
    padding: 10px 0px;
  }

  /* line 288 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

  #pic {
    height: 100px;
    width: 100px;
    border-radius: 3px;
    float: none;
    margin: auto;
  }

  /* line 295 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

  #pic img {
    border-radius: 3px;
  }

  /* line 298 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

  #intro {
    line-height: 1.4;
    text-align: center;
    float: none;
    margin: 0 auto;
  }

  /* line 304 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

  #intro p:first-child {
    font-size: 30px;
  }

  /* line 307 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

  #intro p:last-child {
    font-size: 16px;
  }

  /* line 310 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

  .networks {
    margin-top: 0px;
    float: none;
    display: -webkit-flex;
    display: flex;
  }

  /* line 315 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

  .networks ul {
    margin: 0 auto;
  }

  /* line 318 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

  .networks li {
    margin-left: 2px;
  }

  /* line 321 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

  .networks li img {
    height: 24px;
    width: 24px;
  }

  /* line 325 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

  #details {
    font-size: 15px;
    padding: 5px 10px;
  }

  /* line 329 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

  #wrapper {
    float: right;
    padding: 30px 15px 15px 15px;
    margin: 0;
  }

  /* line 334 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

  #wrapper .entry header h2 {
    font-size: 200%;
    margin-top: 0;
  }

  /* line 338 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

  #wrapper .entry header p {
    font-size: 16px;
    float: none;
    clear: both;
  }

  /* line 343 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

  #wrapper .entry div {
    font-size: 16px;
  }
}

/* line 346 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

/*---------------------------------Angular Animation--------------------------*/

/* line 348 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

.view-container {
  position: relative;
}

/* line 351 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

.view-frame.ng-enter,
.view-frame.ng-leave {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

/* line 357 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

/* line 358 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

.view-frame.ng-enter {
  opacity: 0;
  margin-top: -3%;
  transition: 0.5s all ease-out;
}

/* line 362 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

.view-frame.ng-enter.ng-enter-active {
  opacity: 1;
  margin-top: 0%;
}

/* line 365 : /home/rish/www/projects/blogthingy/angular/app/styles/main.styl */

.view-frame.ng-leave {
  opacity: 0;
}