@font-face
  src url('../fonts/UbuntuTitling-Bold.ttf')
  font-family 'ubuntu-bold'

@font-face
  src url('../fonts/Ubuntu-L.ttf')
  font-family 'ubuntu'

ul 
  list-style-type none
  padding 0px
  margin 0px

a:hover
  text-decoration none
  color #004152 !important

a
  color #333333

.links
  border-bottom 1px dashed #004152
  transition-duration 0.5s
  transition-timing-function ease-in-out

.links:hover
  border-bottom 0px dashed #004152
  transition-duration 0.5s
  transition-timing-function ease-in-out

body
  font-family 'ubuntu-bold' !important  

/*--------------------Stream Page-------------------*/

#mainHead  
  font-size 100px
  background-color  #f3f3f3
  padding 5% 0%
  text-align center
  color #929292
  text-shadow -2px 0px 0px #808080

#wrapper
  margin-left 275px
  margin-right 50px
  padding 20px
  
#wrapper .entry
  width 100%
  font-family 'ubuntu'
  
#wrapper .entry header
  display inline-block
  width 100%
  border-bottom 1px solid #ccc
  
#wrapper .entry header h2
  float left
  font-family 'ubuntu'
  color #575757

#wrapper .entry header p
  float right
  margin-top 25px
  font-size 18px

#wrapper .entry div
  padding 10px
  font-size 18px

/*------------------Stream page ENDS----------------*/

/*--------sidebar styles-----------*/

#sidebar
  position absolute
  margin-top 40px
  padding 20px
  margin-left 10px
  text-align center

#sidebar, #name
  font-size 17px

#name
  border-radius 100%
  color #7A7979
  margin 5px auto  

#name p
  font-family 'Ubuntu'
  font-size 25px

#name img
  height 100%
  width 100%

#fries
  font-size 15px
  color #747474

#sidebar nav li:hover
  color #004152 !important

.networks li
  display inline

#sidebar .networks
    margin-top 10px
    float none

#sidebar .networks li 
  margin-left 0

.fixedMenu
  position fixed !important
  top 0px

/*----------SIDEBAR STYLES END-------------*/

#ondway
  text-align center
  font-size 40px
  line-height 2
  padding-top 20px
  
#wait  
  position relative  
  color #636262

#follow 
  display inline

#ondway div
  color #333
  font-size 35px

#follow img
  width 50px
  margin-left 10px

/*------------------------------------Profile Page-----------------------------------*/

#profileWrapper
  padding 10px 10px

#profileWrapper header  
  border-bottom 1px solid #DDDDDD
  padding 20px 0px
  width 100%
  display inline-block

#pic
  height 150px
  width 150px
  border-radius 5px
  background-color #777
  float left

#pic img
  height 100%
  width 100%
  border-radius 5px

#intro
  float left
  margin-left 50px
  

#intro p:first-child
  font-size 60px
  margin 0

#intro p:last-child
  font-size 22px
  color #777  
  font-family 'ubuntu'

.networks
  float right
  margin-top 120px

.networks li
  margin-left 10px

#details  
  font-size 18px
  padding 20px 30px 20px 30px
  font-family ubuntu
  text-align justify
  position relative

/*---------------------------Profile page ENDS---------------------*/

/*---------------------------Media Queries-------------------------*/

@media (max-width: 1024px) and (min-width: 768px)

  #mainHead
    font-size 80px
    padding 20px

  #profileWrapper 
    padding 8px 8px 
    
  #profileWrapper header
    padding 15px 0px

  #pic
    height 125px
    width 125px
    border-radius 4px

  #pic img
    border-radius 4px

  #intro
    margin-left 20px
    line-height 1.5
    
  #intro p:first-child
    font-size 42px

  #intro p:last-child
    font-size 15px

  .networks
    margin-top 100px

  .networks li
    margin-left 3px

  .networks li img
    height 28px
    width 28px

  #details
    font-size 16px
    padding 10px 20px

  #sidebar
    position absolute
    margin-top 30px
    padding 15px
    font-size 14px

  #name
    padding-top 8px
    font-size 10px

  #fries
    font-size 13px

  #wrapper
    margin-left 225px
    margin-right 20px

  #wrapper .entry header h2
    font-size 175%

  #wrapper .entry header p
    margin-top 23px
    font-size 16px

  #wrapper .entry div
    font-size 16px

@media (max-width: 768px)

  #mainHead
    display none

  #sidebar
    position relative !important
    margin-top 0 
    margin-left 0   

  #ondway
    font-size 25px

  #profileWrapper 
    padding 5px 5px 
    
  #profileWrapper header
    padding 10px 0px

  #pic
    height 100px
    width 100px
    border-radius 3px
    float none
    margin auto

  #pic img
    border-radius 3px

  #intro
    line-height 1.4
    text-align center
    float none
    margin 0 auto
    
  #intro p:first-child
    font-size 30px

  #intro p:last-child
    font-size 16px

  .networks
    margin-top 0px
    float none
    display flex

  .networks ul
    margin 0 auto

  .networks li
    margin-left 2px

  .networks li img
    height 24px
    width 24px

  #details
    font-size 15px
    padding 5px 10px

  #wrapper
    float right
    padding 30px 15px 15px 15px
    margin 0

  #wrapper .entry header h2
    font-size 200%
    margin-top 0

  #wrapper .entry header p
    font-size 16px
    float none
    clear both

  #wrapper .entry div
    font-size 16px

/*---------------------------------Angular Animation--------------------------*/

.view-container
  position relative

.view-frame.ng-enter, .view-frame.ng-leave
  position absolute
  top 0
  left 0
  right 0

.view-frame
  &.ng-enter
    opacity 0
    margin-top -3%
    transition 0.5s all ease-out
    &.ng-enter-active
      opacity 1
      margin-top 0%
  &.ng-leave
    opacity 0
